<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="3.3.1-2/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <script src="js/bootstrap.min.js"></script>


    <link rel="icon" href="bootstrap-3.3.7/docs/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap-3.3.7/docs/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="bootstrap-3.3.7/docs/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:text="${session.name}" href="#">学生名字</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/SignToIndex">退出</a></li>
            </ul>
            <form class="navbar-form navbar-right" style="margin-right: 50px;" action="/searchClass" method="post">
                <input type="text" class="form-control" name="class_id" placeholder="输入班级序列号搜索">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">搜索班级</a></li>
                <li><a href="/sMyClass">我的课程</a></li>
                <li><a href="/sMyExp">查看提交情况</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/s_grade">查看成绩</a></li>
                <li><a href="/file">文件暂存</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">文件暂存系统</h1>

            <form action="/fileUpload" method="post" enctype="multipart/form-data">
                <input name="fileName" type="file" id="btn_file" style="display:none" multiple>
            </form>

            <nav class="navbar navbar-default" style="width: 85%;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/file">根目录</a>
                        <div th:each="el:${pathlist}" style="display: inline-block">
                            <span class="navbar-brand">>></span>
                            <a class="navbar-brand path" href="#" th:text="${el}"></a>
                        </div>
                    </div>

                    <div style="float: right; margin-right: 15px;" class="navbar-header" >
                        <span class="glyphicon glyphicon-cloud-upload navbar-brand" type="button"
                              onclick="F_Open_dialog()"></span>
                    </div>

                    <div style="float: right;margin-right: 15px;" class="navbar-header">
                        <span class="glyphicon glyphicon-floppy-remove navbar-brand" type="button"
                              onclick="F_Delet_dialog()"></span>
                    </div>

                    <div style="float: right;margin-right: 15px;" class="navbar-header">
                        <span class="glyphicon glyphicon-copy navbar-brand" type="button"
                              onclick="F_Copy_dialog()"></span>
                    </div>

                    <div style="float: right;margin-right: 15px;" class="navbar-header">
                        <span id="paste" disabled="disabled" class="glyphicon glyphicon-paste navbar-brand" type="button"
                              onclick="null"></span>
                    </div>

                    <div style="float: right;margin-right: 15px;" class="navbar-header">
                        <span id="newdir" class="glyphicon glyphicon-plus navbar-brand" type="button"
                              ></span>
                    </div>

                </div>
            </nav>

            <div id="refresh">
                <div th:each="file:${filelist}">
                    <p>
                        &nbsp; &nbsp; &nbsp;&nbsp;<input style="display: inline" type="checkbox" class="checkbox"
                                                         th:value="${file}">&nbsp;<span th:if="${file.indexOf('.')==-1}"
                                                                                  class="glyphicon glyphicon-folder-close
"></span> <span th:if="${file.indexOf('.')!=-1}" class="glyphicon glyphicon-file"></span> <a class="file"
                                                                                             th:if="${file.indexOf('.')!=-1}"
                                                                                             th:href="@{'/fileManager/'+${file}}"
                                                                                             th:text="${file}"
                                                                                             methods="get"></a>
                        <a th:if="${file.indexOf('.')==-1}" th:href="@{'/filedir/'+${file}}" th:text="${file}"
                           methods="get"></a>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>
<script src="layer/layer.js"></script>
<script>
    $('#newdir').on('click', function(){
        layer.open({
            type: 1,
            area: ['600px', '300px'],
            shadeClose: true, //点击遮罩关闭
            content: '\<\div style="padding:20px;height:100%;"><form action="/newdir"><h3 style="height:30%;margin-bottom:30px;">请输入文件夹名字：</h3><div style:"padding:auto;height:20%;margin:auto;"><input type="text" name="newdir_name" required="required"/></div><div style="text-align:center;margin:5%;"><button style="margin:auto;" type="submit">确定</button></form></div>\<\/div>'
        });
    });


    $(function(){
        localStorage.setItem("pates_active",true);
    });

    function F_Open_dialog() {
        document.getElementById("btn_file").click();
        $.ajax({
            type: "get",
            url: "/secondRefresh",
            cache: false,
            async: true,
            data: {},
            success: function (data) {
                $("#refresh").html(data);
            },
            error: function (data) {
                alert("错误！");
            }
        });
    }
    
    function F_Copy_dialog() {
        let arry = new Array();
        $('.checkbox').each(function(){
            if($(this).prop('checked')){
                arry.push($(this).val());
            }
        });
        $.ajax({
            type: "get",
            url: "/copy",
            cache: false,
            async: true,
            data: {"deletlist": arry},
            success: function (data) {
                if(data=="copy_suucess"){
                    alert("已复制到粘贴板");
                    localStorage.setItem("pates_active",true);
                    $('#paste').attr('onclick','F_Paste_dialog()');
                }
            },
            error: function (data) {
                alert("错误！");
            }
        });
    }
    
    function F_Paste_dialog() {
        $.ajax({
            type: "get",
            url: "/pates",
            cache: false,
            async: true,
            success: function (data) {
                $('#refresh').html(data);
            },
            error: function (data) {
                alert("错误！");
            }
        });
    }


    function F_Delet_dialog(){
        let arry = new Array();
        $('.checkbox').each(function(){
            if($(this).prop('checked')){
                arry.push($(this).val());
            }
        });
        $.ajax({
            type: "post",
            url: "/delet_file",
            cache: false,
            async: true,
            data: {
                "deletlist": arry
            },
            success: function (data) {
                $("#refresh").html(data);
            },
            error: function (data) {
                alert("错误！");
            }
        });
    }


    $(document).ready(function () {
        $('.path').on("click", function () {
            let s = $(this).prevAll(".path").text();
            let str = "";
            for (let el in s) {
                str = str + "/" + el;
            }

            $.ajax({
                type: "post",
                url: "/change_path",
                cache: false,
                async: true,
                date: {
                    "prePath": str
                },
                success: function () {
                },
                error: function (data) {
                    alert("错误！");
                }
            });
        });
    });
</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script src="bootstrap-3.3.7/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="bootstrap-3.3.7/docs/dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="bootstrap-3.3.7/docs/assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
