<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="3.3.1-2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>

    <link rel="icon" href="bootstrap-3.3.7/docs/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap-3.3.7/docs/examples/signin/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="bootstrap-3.3.7/docs/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<style>

    .dropdown {
        margin-bottom: 10px;
    }

    .btn {
        margin-top: 25px;
    }

    #inputPassword {
        margin-top: 10px;
    }


</style>

<script>

    $(document).ready(function(){
        $("#1").click(function () {
            let account = $("#inputAccount").val();
            let password = $("#inputPassword").val();
            let type = $("#type").val();
            $.ajax({
                type: "POST",
                url: "/SignIn",
                data: {
                    "account": account,
                    "password": password,
                    "type":type
                },
                dataType:'text',
                cache: false,
                async: true,
                success: function (data) {
                    if(data == "success"){
                        window.location.href='/signed';
                    }
                    else{
                        alert("账户密码错误！");
                    }
                },
                error: function (data) {
                    alert("错误！");
                }
            });
        });
    })


    $('#type').change(function(){
        if(this.options[this.selectedIndex].innerHTML == "学生"){
            $('#inputAccount1').toggle();
            $('#inputAccount2').toggle();
        }
        else{
            $('#inputAccount1').toggle();
            $('#inputAccount2').toggle();
        }
    });

</script>

<body>

<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputAccount1" class="sr-only">Email address</label>
        <input name="account" type="text" id="inputAccount1" pattern="S[0-9]{7}" oninvalid="setCustomValidity('请确认为内容为非空且格式正确')" class="form-control" placeholder="account" required autofocus>
        <input name="account" type="text" id="inputAccount2" style="display: none" pattern="[0-9]{8}" oninvalid="setCustomValidity('请确认为内容为非空且格式正确')" class="form-control" placeholder="account" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="text" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <h3>选择您的类型</h3>
        <div class="form-group">
            <select name="type" id="type" class="form-control">
                <option>教师</option>
                <option>学生</option>
            </select>
        </div>


        <div style="width: 300px;margin:0 auto;">
            <button class="btn btn-lg btn-primary btn-block" type="button" id="1">登录</button>
        </div>
    </form>


    <form class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" type="submit" formaction="/toSign" formmethod="get">没有账号？点击注册
        </button>
    </form>
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
