<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <h2 class="sub-header">班级成员</h2>
    <div class="table-responsive">
        <table class="table table-striped" id="table">
            <thead>
            <tr>
                <th>学号</th>
                <th>名称</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${listStu}">
                <!--/*@thymesVar id="STUDENT_ID" type="com.v1.learn.dto.Student"*/-->
                <td th:text="${student.STUDENT_ID}">1,001</td>
                <!--/*@thymesVar id="NAME" type="com.v1.learn.dto.Student"*/-->
                <td th:text="${student.NAME}">1,001</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>