<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>注册页面</title>
    <script src="3.3.1-2/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>

    <link rel="icon" href="bootstrap-3.3.7/docs/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap-3.3.7/docs/examples/signin/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="bootstrap-3.3.7/docs/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<style>
    .input-group {
        margin-top: 50px;
    }

    .dropdown {
        margin-top: 50px;
    }

    .btn-lg {
        margin-top: 50px;
    }


</style>
<body>
<div class="container">
    <form class="form-signin" action="/SignUp" method="post">
        <div class="input-group">
            <span class="input-group-addon" id="account">账户</span>
            <input name="ID" id="inputAccount1" type="text" class="form-control" placeholder="教师账号S+7位数"
                   aria-describedby="basic-addon1" pattern="S[0-9]{7}" oninvalid="setCustomValidity('请确认为内容为非空且格式正确')" required autofocus>
            <input name="ID" id="inputAccount2" type="text" class="form-control" placeholder="学生账号8位数字"
                   aria-describedby="basic-addon1" pattern="[0-9]{8}" oninvalid="setCustomValidity('请确认为内容为非空且格式正确')" style="display: none" required autofocus>
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="password">密码</span>
            <input type="text" name="PASSWORD" class="form-control" placeholder="设置您的密码"
                   aria-describedby="basic-addon1" required>
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="name">名字</span>
            <input name="NAME" type="text" class="form-control" placeholder="输入您的名字" aria-describedby="basic-addon1" required>
        </div>


        <h3>请选择您的类型</h3>
        <div class="form-group">
            <select class="form-control"  id="type_select" name="type">
                <option>教师</option>
                <option>学生</option>
            </select>
        </div>

        <button style="width: 300px;margin:0 auto;" class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
    </form>
</div>

<script>
    $(function () {
        alert("创建失败，用户已存在");
    })

    $('#type_select').change(function(){
        if(this.options[this.selectedIndex].innerHTML == "学生"){
            $('#inputAccount1').toggle();
            $('#inputAccount2').toggle();
        }
        else{
            $('#inputAccount1').toggle();
            $('#inputAccount2').toggle();
        }
    });
</script>
</body>
</html>